@import "tailwindcss";

@theme {
    --color-primary: #000C44;
    --color-gold: #FFF7D3;
    --color-darkgold: #A29D84;
    --color-footer: #000824;
    --color-hero: #000F42;
    --color-about: #000B3E;
    --color-clients: #001353;
}

html {
    color: var(--color-gold);
}

/* Border gradient */
.border-gradient {
    background:
        linear-gradient(var(--color-primary), var(--color-primary)) padding-box,
        linear-gradient(135deg, var(--color-gold), var(--color-darkgold)) border-box;

    border: 2px solid transparent;
    border-radius: 12px;
}

.border-gradientAbout {
    background:
        linear-gradient(var(--color-about), var(--color-about)) padding-box,
        linear-gradient(135deg, var(--color-gold), var(--color-darkgold)) border-box;

    border: 2px solid transparent;
    border-radius: 12px;
}

/* Removing border gradient on larger screens */

@media (min-width: 768px) {
    .border-gradientAbout {
        background: none;
        border: none;
    }
}

