<section
  id="about"
  class="scroll-mt-10 md:scroll-mt-16 bg-[url(/section-pics/about-bg.jpg)] mt-9 bg-center bg-size-[400%_auto] md:bg-size-[150%_auto] bg-black/70 md:bg-black/0 md:bg- md:bg-blend-normal bg-blend-multiply gap-4 flex flex-col md:flex-row items-center justify-center md:justify-start p-6 md:p-0 space-y-4"
>
  <div
    class="about-container md:bg-layout/90 flex flex-col items-center justify-center md:items-start md:w-1/2 md:h-full md:p-6 md:justify-start md:gap-4"
  >
    <h3 class="text-4xl sm:text-5xl lg:text-6xl font-bold py-5">About Us</h3>

    <div
      class="text-cotainer flex flex-col items-start justify-center space-y-6 text-white text-lg border-2 border-gold p-6 rounded-lg sm:text-xl lg:text-2xl"
    >
      <p>
        Our law firm, "Law Firm & Associates", has built a strong reputation
        through years of dedication, professionalism, and successful legal
        representation. Led by an experienced attorney committed to integrity
        and client trust, our team specializes in providing clear guidance and
        effective solutions across a wide range of legal matters.
        <br />
        <br />
        We prioritize personalized attention, ensuring that each client receives tailored
        legal strategies that align with their unique needs and goals.
      </p>

      <div class="text-gold">
        <h4><b>Christian Morgan, Esq</b></h4>
        <span><i>Founder & Lead Attorney</i></span>
      </div>
    </div>
  </div>
</section>
