<section
  class="bg-about flex flex-col items-center justify-center p-4 space-y-4"
>
  <h3 class="text-4xl sm:text-5xl font-bold py-5 md:hidden">About Us</h3>

  <div
    class="about-card flex flex-col items-center justify-center space-y-4 border-gradientAbout p-6
    sm:text-lg md:border-0 md:flex-row-reverse md:space-x-4 lg:space-y-12 xl:justify-between xl:gap-12"
  >
    <img
      class="w-60 h-60 sm:w-80 sm:h-80 md:h-110 md:m-0 md:w-90 lg:w-100 lg:h-120 xl:w-100 xl:h-120
      object-top object-cover rounded-full
      border-gold border-2 md:border-none md:rounded-md"
      src="/section-pics/about-img.png"
      alt="about us image"
    />
    <p>
      <div
        class="text-container md:flex md:flex-col-reverse md:items-start md:justify-start md:gap-4 lg:text-xl xl:gap-8 xl:text-2xl  xl:max-w-[900px]"
      >

        <div class="text-center text-lg sm:text-xl xl:text-2xl">
          <b>Christian Morgan, Esq.</b>
          <br />
          <i>Founder & Lead Attorney</i>
        </div>

        <br />
        Our law firm has built a strong reputation through years of dedication, professionalism,
        and successful legal representation. Led by an experienced attorney committed
        to integrity and client trust, our team specializes in providing clear guidance
        and effective solutions across a wide range of legal matters. We pride ourselves
        on combining deep legal knowledge with a personalized approach, ensuring that
        every client receives the attention, transparency, and strategic advocacy
        they deserve.

        <h3 class="hidden sm:text-5xl font-bold  md:flex lg:text-6xl">About Us</h3>


      </div>
    </p>
  </div>
</section>
