<section class="bg-[url('/section-pics/contact-bg.jpg')] bg-black/70 bg-blend-multiply bg-cover bg-center flex flex-col items-center justify-center gap-30 lg:gap-36 p-8"> 
    <h3 class="text-4xl font-bold sm:text-5xl lg:text-6xl">Contact</h3>
    <p class="font-semibold text-center text-lg text-white sm:text-xl lg:text-2xl">
        Legal issues don't wait. Get the expert legal advice you need right now via WhatsApp.
    </p>
    <a class="bg-gold font-bold hover:bg-darkgold text-black sm:text-lg lg:text-xl px-6 py-2 lg:px-8 lg:py-4 text-center flex flex-row items-center justify-center gap-2 rounded-md" href=#>
        Free consultation 
        <img class="w-4 h-4 sm:w-5 sm:h-5" alt="Whatsapp logo for contact button" src="/section-pics/whatsapp-icon.png" /> 
    </a>
</section>
