<section
  class="bg-[url('/section-pics/hero-img.jpg')] bg-cover bg-center bg-blend-multiply h-screen bg-hero/70 flex flex-col justify-center items-start p-4
  sm:p-8 lg:p-12"
>
  <div class="hero-text-container space-y-8 lg:space-y-12 flex flex-col items-center justify-center text-center sm:items-start sm:text-left sm:justify-start">
    <h1 class="text-6xl font-bold sm:text-7xl lg:text-8xl">
      Best lawyers online
    </h1>
    <h2 class="text-2xl sm:text-3xl lg:text-4xl">
      Take a look at our services
    </h2>
    <a
      class="text-black bg-gold px-6 py-2 rounded-lg text-lg sm:text-2xl lg:text-3xl hover:bg-darkgold transition ease-in"
      href="#">Contact a lawyer</a
    >
  </div>
</section>
