---
const { service, img, description } = Astro.props;
---

<div
  class="service-card border-card items-center flex flex-col text-center justify-center gap-4 lg:gap-6 w-70 h-60
 md:w-74 md:h-76 lg:w-76 lg:h-78 xl:w-90 xl:h-90"
>
  <img
    class="w-20 h-20 object-cover md:w-26 md:h-26 lg:w-30 lg:h-30 xl:w-36 xl:h-36 border-2 border-gold rounded-full p-4"
    src={img}
    alt={`${service} image`}
  />
  <h3 class="font-semibold text-2xl lg:text-3xl">{service}</h3>
  <p class="text-white lg:text-lg xl:text-xl px-2">{description}</p>
</div>
