---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <title>Law Firm & Associates</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Concept landing page of a law firm, showcasing services, team members, and contact information. Designed to attract potential clients and provide an overview of the firm's expertise."
    />
    <meta
      name="keywords"
      content="Law Firm, Associates, Legal Services, Contact Information"
    />
    <link rel="icon" href="/law-fa/favicon.svg"/>  
  
  </head>
  <body>
    <slot />
  </body>
</html>